@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* navbar */
#nav-bar {
  padding: 30px 50px;
  display: flex;
}
.nav-links-container {
  display: flex;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0 4rem;
  font-weight: 500;
}
.nav-links li {
  margin-top: 7px;
}
.nav-links li a {
  text-decoration: none;
  color: gray;
  padding: 0 8px;
  display: flex;
}
.nav-btn-links {
  display: flex;
  list-style: none;
  position: absolute;
  right: 0;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.nav-btn-links li {
  margin: 7px 14px 0 0;
}

.nav-btn-links li a {
  text-decoration: none;
  color: gray;
  padding: 8px 16px;
}
.nav-btn-2 {
  border: gray 1.8px solid;
  border-radius: 8px;
}

/* HOVER EFFECT TO THE NAVBAR LINKS */
.nav-links li a:hover {
  color: black;
  cursor: pointer;
}
.nav-btn-2:hover {
  border: gray 1.8px solid;
  color: black;
}
.nav-btn-1:hover {
  color: black;
}
/* HAMBURGER  */
#hamburger-nav {
  display: none;
}

/* INTRO PAGE */
#intro-page {
  display: flex;
  padding: 0.2rem 100px 0 100px;
  gap: 2rem;
  height: 503px;
}
.about-section {
  padding: 50px 50px 0;
  flex: 1;
  position: relative;
}

.mobile-img {
  display: none;
}

.mobile-text-heading {
  display: none;
}

.text h1 {
  font-size: 60px;
  font-weight: 700;
}
.text h2 {
  font-weight: 700;
  font-size: 59px;
}
.text p {
  font-weight: 500;
  text-align: left;
  margin-top: 30px;
  color: gray;
  padding-right: 150px;
}
.intro-page-btn {
  margin-top: 40px;
  padding: 12px 25px;
  background: black;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 10px;
}
.sponsors-contaibner {
  position: relative;
  max-width: 80%;
  display: flex;
}
.sponsors {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.sponsors-img {
  width: auto;
  height: 20px;
}

.img {
  position: relative;
  display: flex;
  flex: 1;
}
.intro-page-img {
  width: auto;
  height: 520px;
}
